fastapi
uvicorn
pydantic
python-dotenv
loguru
pytest
pytest-asyncio
httpx
ruff
pyyaml
colorama
langchain_core
langchain_openai
langchain_anthropic
langchain_mistralai
langchain_together
langchain_deepseek
graphviz
asyncio 
pytest
gunicorn